



body {
    background-color: rgb(116, 105, 105);
    font-family:'PT Sans', sans-serif;
    margin: 0;
}



.hrad {
    float: left;
    width: 200px;
    margin: 30px 30px 2px 2px;
    border-radius: 10% 10%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}


section {
    padding: 50px 15%;
    overflow: auto;
  }

.prvni {
    background-color: rgba(182, 126, 94, 0.438);
}