

body {
    font-family:'PT Sans', sans-serif;
    text-align: justify;
    margin: 0;
}

.hlavicka {
    padding: 150px 100px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(images/úvodka.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

h1 {
    color: rgb(215, 219, 219);
    font-size: 50px;
    text-align: center;
}


.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    color: white;
    background-color: #282425;
    border-top: 1px solid #9c8175;
  }
  
  .menu li {
    display: inline-block;
  }
  
  .menu a {
    display: inline-block;
    padding: 20px 30px;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: white;
  }
  
  .menu a:hover {
    background-color: #756158;
  }

.hrad,
.poklicky,
.hory {
    width: 200px;
    margin: 30px 30px 2px 2px;
    border-radius: 10% 10%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.hrad {
    float: left;
}

.poklicky {
    float: right;
}

section {
    padding: 50px 15%;
    overflow: auto;
  }

.prvni {
    background-color: rgba(182, 126, 94, 0.438);
}

.druhy {
    background-color: #ac6b3ac5;

      }